$extra-small-size: 1px;
$small-size: 4px;
$default-size: 6px;
$large-size: 12px;

$header-font-size: 20px;

$border-color: hsla(0,0%,4%,.1);

$adaptive-card-json-preview-background-color: #f2f2f2;

$adaptive-button-height: 48px;
$adaptive-button-width: 64px;

$button-color: #ffffff;
$button-selected-color: #e2e2e2;
$button-focused-color: #f2f2f2;