$small-size: 4px;
$default-size: 6px;
$large-size: 12px;

$border-color: hsla(0,0%,4%,.1);

$adaptive-card-json-preview-background-color: #f2f2f2;

$adaptive-button-height: 48px;
$adaptive-button-width: 64px;
$adaptive-button-color: #fff;

$pell-actionbar-height: 48px;