$default-size: 6px;
$large-size: 12px;
$adaptive-card-border-color: #E6E6E6;
$adaptive-card-json-preview-background-color: #f2f2f2;
$adaptive-button-height: 48px;
$adaptive-button-width: 64px;
$adaptive-button-color: #2196F3;