*, *:before, *:after {
    box-sizing: border-box;
}
#adaptive-ckeditor, 
.adaptive-default-content, 
.adaptive-preview-view, 
.adaptive-preview-json-view {
    display: none;
}
.adaptive-preview, 
.adaptive-preview-json {
    max-height: calc(100% - 60px);
    max-width: calc(100% - 12px);
    height: 100%;
    width: 100%;
    margin: 6px;
}
.adaptive-preview-json {
    resize: none;
    background-color: #f2f2f2;
}
.adaptive-toggle-preview {
    position: fixed;
    bottom: 0;
    right: 0;
}

.adaptive-toggle-bar:after {
    /* Clearfix hack */
    content: "";
    display: table;
    clear: both;
}
.adaptive-toggle-bar .adaptive-toggle {
    float: right;
    margin-left: 6px;
}
.adaptive-toggle-bar .adaptive-toggle:last-child {
    margin-left: 0;
}
.adaptive-toggle {
    height: 48px;
    padding: 6px;
}

/* CKEditor style overrides */
.cke_reset {
    box-sizing: border-box !important;
}
#cke_adaptive-ckeditor {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* Css Customization of Adaptive Cards */
.adaptive-preview > .ac-container {
    border: 6px solid #E6E6E6;
    max-height: 100%;
    overflow: auto;
}
.ac-container p {
    margin: 0;
}

.adaptive-preview > .ac-container, .adaptive-preview-json {
    border-radius: 12px;
}